BloodPressureCheck
WordToolDoc
Test.java
class_files
*.class
extra
sample_file.txt
*.out
test.*


# These are for the gradle project
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the bin folder
bin

.vscode

# PHP uploads directory
*.jpeg
*jpg

# PHP vendor
vendor

# Ignore node_modules and all .js files
node_modules
*.js
outputJS

# Ignore the C++ binary files and object files
*.out
*.o
